body, html {
    height: 100%;
  }


  .navbar { 
    height: min-content;
    list-style-type:none;
    background: linear-gradient(90deg, rgb(8, 8, 8) 0%, rgb(52, 52, 63) 35%, rgb(0, 0, 0) 100%) ;
}
.nav-link { 
    color: orange;
    text-shadow: 2px 2px #d0ff00;
     font-size: 2rem !important ;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.nav-link:hover { 

    color: rgb(97, 66, 0) ;  
}

body { 
  margin-top: 15vh;
    background-color: rgba(255, 127, 80, 0.644);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.container  { 
    font-family: cursive;
    padding: 15px;
    margin-top: 5vh ;
    color: white;
    background-color: rgba(0, 0, 0, 0.712);
    box-shadow: 1px 1px 2px black, 0 0 25px rgb(80, 80, 80), 0 0 5px rgb(3, 3, 3);
}


.galerija { 
    margin-top: 7vh;
    margin-left: 7vh;
    margin-right: 7vh;
}

.ul_galerija {
    display: flex;
    flex-wrap: wrap;
    list-style-type:none;
  }
  
  .li_galerija {
    height: 40vh;
    flex-grow: 1;
  }
  
  img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }