body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(199, 133, 0, 1) 24%,
    rgba(210, 140, 0, 1) 69%,
    rgba(0, 0, 0, 1) 100%
  );

  background-size: cover;
  background-position: center;
}

.login-page {
  background-image: url("./assets/imdb.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 30rem;
  padding: 30% 0 0;
  align-self: center;
}
.login-page-main {
  background-image: url("./assets/imdb.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 30rem;
  padding: 30% 0 0;
  margin-top: 10rem;
  align-self: center;
}
.form {
  position: relative;
  z-index: 1;
  background-color: rgba(145, 145, 145, 0.356);
  max-width: 300px;
  margin: 0 auto 50px;
  padding: 45px;
  text-align: center;
}

.form input {
  font-family: "Roboto ", sans-serif;
  outline: 1;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

select {
  font-family: "Roboto ", sans-serif;
  outline: 1;
  width: 260px;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto ", sans-serif;
  text-transform: uppercase;
  outline: 1;
  background: #c7b6b6;
  color: whitesmoke;
  width: 100%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  cursor: pointer;
}

form p,
a {
  text-align: center;
  color: rgb(65, 65, 65);
  padding: 10px;
}

label {
  text-align: start;
  padding: 5px;
  color: #222;
  font-family: corbel, sans-serif;
  font-size: 20px;
  margin: 10px;
}
